[Unit]
Description=Execute Watchdog every 2 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Unit=pi-vpn-watchdog.service

[Install]
WantedBy=timers.target
